:root{
    --nav-icon-width: 50px;
    --nav-border-width: 8px;
    --sideBar-color: #000000;
    --sideBar-icons-color:white;
    --sideBar-icons-color-hover:  #1c1b1b;
}

.nav{
    width: 200px;
    /* background-color: var(--sideBar-color); */
    transition: width 0.2s;
    flex-shrink: 0;
}

.nav-collapsed{
    width: var(--nav-icon-width);
}

.nav-collapsed .nav_label{
    display: none;
}

.links_container{
    display: flex;
    flex-direction: column;
}

.nav_link{
    align-items: center;
    color: var(--sideBar-icons-color);
    text-decoration: none;
}

.nav_link:hover{
    background-color: var(--sideBar-icons-color-hover);
    text-decoration: none;
}

.nav_icon-container{
    width: var(--nav-icon-width);
    height: var(--nav-icon-width);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-shrink: 0;
}

.nav_label{
    white-space: nowrap;
}


@media(max-width:568px){
    .nav{
        width: 100%;
        height: var(--nav-icon-width);
        display: flex;
        align-content: center;
        justify-content: center;
    }

    .nav_label{
        display: none;
    }

    .hide_collapse{
        display: none;
    }
}
