:root{
    --nav-icon-width: 50px;
    --nav-border-width: 8px;
    --sideBar-color: #000000;
    --sideBar-icons-color:white;
    --sideBar-icons-color-hover:  #1c1b1b;
}

body{
    overflow: hidden;
}

a:hover{
    text-decoration: none;
}

#sidebar-container{
    min-height: 100vh;
}

#sidebar-container .menu{
    width: 250px;
} 

.menu{
    display: flex;
    flex-direction: column;
}

.nav_icon-container{
    width: var(--nav-icon-width);
    height: var(--nav-icon-width);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-shrink: 0;
}

.nav_label{
    white-space: nowrap;
    display: flex;
    align-items: center;
    justify-content: center;
}

.inline{
    display: flex;
    flex-direction: row;
}

.inline:hover{
    background-color: var(--sideBar-icons-color-hover);
}

#content{
    overflow-y: auto;
    height: 100vh;
    padding-bottom: 5rem;
}

/* search bar */
.search-box {
    margin: 100px auto;
}
.search-box .btn-light {
    border: 1px solid #ced4da;
}

@media(max-width:568px){

    #sidebar-container .menu{
        width: var(--nav-icon-width);
    }
    .nav_label{
        display: none;
    }
    .logo{
        display: none;
    }
}